<progress-spinner *ngIf="isLoading"></progress-spinner>
<div class="float-end">
  <button mat-raised-button color="primary" (click)="openDialog('Create',category)">
    <mat-icon>add</mat-icon>Add Category
  </button>
</div>
<div>
<table mat-table [dataSource]="categories">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let category">{{category.name}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let category" class="action-cell center-cell">
      <button mat-raised-button color="primary" (click)="openDialog('Update', category)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="openDialog('Delete', category)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let category; columns: displayedColumns"></tr>
</table>
</div>
<div class="float-end"><mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator></div>
<div class="mb3"></div>