<!-- <progress-spinner></progress-spinner> -->
<div>
  <div class="row">
    <div class="col">
      <mat-card>
        <div class="row">
        <span><b>Accounts</b></span>
        </div>
        <div class="row">
          <span>Networth</span>
          <h5><b>$253,340.87</b></h5>
        </div>
        <mat-divider></mat-divider>
        <div class="row my-3" *ngFor="let heading of accountHeadings; let i=index">
          <div class="col py-3" >
            <h5>{{heading}}</h5>
          </div>
          <div class="col-3 py-3">
            <h5 class="float-end">$1000</h5>
          </div>
          <div class="col-2">
              <button mat-icon-button class="float-end" (click)="expandContent(i)">
                <mat-icon>{{isExpanded[i] ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                <mat-icon></mat-icon>
              </button>
          </div>
          <div [hidden]="!isExpanded[i]">
            <div class="row">
              <div class="col">
                <div>Account Title</div>
                <div>Account Name</div>
              </div>
              <div class="col-2">
                <div class="float-end me-5">
                  $200
                </div>
              </div>
            </div>
          </div>
          <mat-divider [hidden]="i == accountHeadings.length - 1"></mat-divider>
        </div>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>